h1 {
    color:#F4FBFE !important;
    font-weight: 500 !important;
}

h2 {
    color: #3F4551!important;
    font-weight: 500 !important;
}

nav,body {
    background-color: #FFFFFB !important;
}

.nav__fixed {
    position: sticky;
    z-index: 2147483647;
    top: 0;
}